header .sub-header .number-info li a:hover, .iq-list li i, .iq-team .share ul li a, footer.footer2 input[type='submit'], footer .info-share a, .iq-breadcrumb-two.text-left .breadcrumb li, .iq-breadcrumb-two.text-left .breadcrumb li a:hover, .feedback .carousel-control-next, .feedback .carousel-control-prev, .iq-blog-meta ul.list-inline li i, article.hentry .iq-blog-box .iq-blog-detail a:hover h6, article.hentry .iq-blog-box .iq-blog-detail a:hover, .search-form .search-submit, .widget ul li a::before, .widget ul li a:hover, .widget ul li a:hover::before, .widget.widget_recent_comments #recentcomments li.recentcomments a, .widget.widget_recent_comments #recentcomments li.recentcomments a:hover, .commentlist .iq-comments-info .title, .comment-form p a, .dotCircle .itemDot, .CirItem.title-box .title, .title-box.style-two span, .widget_categories ul li, .widget_archive ul li, .list-group.list-group-flush li a:hover, .commentlist .iq-comment-metadata a:hover, .tp-revslider-slidesli .iq-video, .fa-icon-play, .yith-wcwl-add-to-wishlist .yith-wcwl-add-button.hide a::before, .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a:hover::before, .product_meta a, .woocommerce-message::before, .woocommerce-info::before, .cart_item a, .order-total, .woocommerce-info a, a.woocommerce-privacy-policy-link, .woocommerce-order-details a, .woocommerce-MyAccount-content a, .woocommerce-form a, .iq-challange-box a, .flaticon, .big-text, .iq-breadcrumb-three .breadcrumb li a:hover, .info-box a, footer .widget ul.menu li a:hover, footer .social-icone ul li a:hover, footer.footer3 .widget ul.menu li a:hover, footer.footer3 .social-icone ul li a:hover,  .carousel.slides > .carouselLinks li.selected a h3, .carousel.slides > .carouselLinks a h3:hover, .iq-star i, .search-tick li::before, .our-event .text-main, .com-contact .future-services .future-img i, .services-block li a, .iq-finance-services a, .vizion-recentblog.v1.style-2 .iq-blog-box .iq-blog-detail a:hover h6, .vizion-recentblog.v1.style-2 .iq-blog-box .iq-blog-detail a:hover, .comment-content a, footer #footer-menu li a:hover, footer #footer-menu li a:hover, .footer4 .copyright a ,.customer-box .customer-detail .float-left h4 a:hover, .customer-box .customer-detail a:hover,footer.footer5 .widget ul.menu li a:hover, footer.footer5 .social-icone ul li a:hover,.iq-list-styletwo li i,.iq-health-counter .timer,.title-health-box .sub-title,.feedback-insuarance i,.feedback-insuarance p,.feedback-insuarance i,.pricing-ecom-box .listing ul li i,footer.footer7 .iq-contact li a:hover, .woocommerce ul li.product .iq-product-block .product-caption h3 a:hover, .woocommerce div.product form.cart .reset_variations, a, .iq-breadcrumb-five .title,.slider-car-nav .slick-prev:hover, .slider-car-nav .slick-next:hover,.car-feedback-info .car-name .car-desgnation ,.iq-car-counter .timer-text,.iq-car-counter .timer ,.car-img-slider .clients-box:hover .play-car-video a ,.slider-car-nav .slick-prev:hover::before, .slider-car-nav .slick-next:hover::before,.car-img-slider .owl-carousel .owl-nav i:hover,.car-img-slider .owl-carousel .owl-nav .owl-next:hover i,.car-img-slider .owl-carousel .owl-nav .owl-prev:hover i ,.iq-const-video .iq-vid-btnlink .play-car-video a ,.owl-carousel.our-testimonial .item.content-top .iq-testimonial .testimonial-info .sub-title ,.owl-carousel.our-testimonial .item.content-top .iq-testimonial p:before ,
footer.construction  .iq-contact li a:hover,
footer.education .widget ul.menu li a:hover,
.iq-contact li a i:hover,
.vizion-recentblog.tagbottom-blog .iq-blog-box .iq-blog-detail ul li i,
.vizion-recentblog.tagbottom-blog .iq-blog-box .iq-blog-detail ul li a:hover,
header.header4 .navbar ul li:hover > a, footer.manufacturing .iq-contact li a:hover,
footer.manufacturing input[type=submit], header.header4 .navbar ul li.current-menu-item a {
    color:#fb5a11;
}
header.header-with-searchbar .login li:last-child a {

    background-image: linear-gradient(to right, #fb5a11 0%, #fb5a11 51%, #fb5a11 100%);
}
.iq-health-team .iq-health-team-img::before {
    background-image: -moz-linear-gradient(90deg,  #fb5a11  0%,  rgba(251,90,17,0) 100%);
    background-image: -webkit-linear-gradient(90deg,  #fb5a11  0%,  rgba(251,90,17,0) 100%);
    background-image: -ms-linear-gradient(90deg,  #fb5a11  0%,  rgba(251,90,17,0) 100%);
}
#slide-1-layer-3, #slide-2-layer-3   {
    color: #fb5a11 !important;
}
.round, .widget.widget_nav_menu ul li a, .widget ul.menu li a ,    .widget_tag_cloud ul li a, .widget_tag_cloud ul li a:hover, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .com-contact .future-services .future-img,.play-video-two a:hover, .owl-carousel .owl-dots .owl-dot.active, .owl-carousel .owl-dots .owl-dot:hover, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current,  .dotCircle .itemDot .forActive::before , .dotCircle .itemDot .forActive::after, select,header .sub-header ,.iq-accordion .ad-details ,.pricing-insuarance:hover,  input[type='search']:focus, input:focus, input[type='text']:focus, input[type='email']:focus, input[type='search']:focus, input[type='password']:focus, textarea:focus, .iq-video, .iq-challange-box:hover, .iq-challange-box:hover::before, .iq-challange-box:hover::after, .testimonial:hover, .testimonial:hover::before, .testimonial:hover::after, .page-numbers li .page-numbers:hover,.feedback-ecommerce .nav-pills .nav-link.active.show, blockquote, .page-numbers li .page-numbers,.slider-car-nav .slick-prev:hover, .slider-car-nav .slick-next:hover ,.car-img-slider .clients-box:hover .play-car-video a, .car-img-slider .clients-box:hover .play-car-video,.car-img-slider .owl-carousel .owl-nav i:hover,.vizion-carblog .owl-carousel .owl-nav i:hover ,article.hentry .vizion-insuarance-blog .owl-carousel .iq-blog-box .iq-blog-detail, .iq-education-tab .nav-pills,
footer.education .iq-contact li a:hover {
    border-color: #fb5a11;
}.job-feedback .feedback-text:after{
     border-top-color: #fb5a11;
     border-right-color: #fb5a11;
 }
.woocommerce-message, .woocommerce-info {
    border-top-color: #fb5a11;
}
.play-video .iq-video{
    color:#fb5a11 !important;
}
footer.footer4 .widget ul.menu li a:hover{
    color:#fb5a11 !important;
    background: inherit !important;
}
.play-video-two a:hover {

    color: #fb5a11;
}
.owl-carousel .owl-dots .owl-dot.active, .owl-carousel .owl-dots .owl-dot:hover, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
    background: #fb5a11;
}
header .sub-header .request-btn a, header .navbar ul li a:hover::before, .button,  .pricing-box .price-blog,  .iq-accordion .iq-ad-block.ad-active .ad-title, .play-video .iq-video:hover, footer.footer2 .info-share a:hover, .owl-carousel .owl-nav i:hover, .iq-team .share ul li a:hover, .widget::before, .widget_tag_cloud ul li a:hover , .comments-area .comments-title::before, .comment-respond .comment-reply-title::before, .commentlist .iq-comments-media .reply a,  header .navbar ul li.current-menu-parent a::before, header .navbar ul li .sub-menu li.current-menu-item a, header .navbar ul li .sub-menu li:hover, header .navbar ul li .sub-menu li a:hover, header .navbar-light .navbar-toggler, header .navbar ul li:hover a::before, .dotCircle .itemDot:hover, .dotCircle .itemDot.active,  header .navbar ul li.current-menu-parent > a, .iq-breadcrumb.text-left .breadcrumb, header .navbar .shop_list li #mini-cart-count, header .navbar .shop_list li .wishlist_count span, #rev_slider_1_1 .metis.tparrows, .woocommerce span.onsale, .woocommerce ul.products li.product .onsale, .woocommerce ul.products li.product .iq-product-block .button:hover, .woocommerce a.added_to_cart:hover, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #respond input#submit, .woocommerce #respond input#submit, .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected], .woocommerce-MyAccount-navigation li a:hover, .woocommerce-MyAccount-navigation li.is-active a, header.header-with-searchbar .navbar-light .navbar-nav .menu-item a::before, span.scan, .carouselLinks li a::before, .our-event .nav-pills .nav-link.active, .our-event .nav-pills .show > .nav-link ,.spinner,#my-ajax-filter-search .job-search,.job-feedback,.job-feedback .feedback-text:after,.vizion-recentblog.v1.style-3 .iq-blog-box .iq-date,#my-ajax-filter-search h6:hover,.iq-health-progbar .iq-progress-bar>span,footer.footer8 .footer-up,.iq-insuarance-fancybox .insua-icon-bg::before,.pricing-ecom-box::before,.pricing-ecom-box .listing ul::before,.space_tab  .tab_list .itemDot.active .forActive::before, .iq-health-team .share ul li a:hover, .page-numbers li .page-numbers.current, .iq-contactinfo-box:before, .cd-horizontal-timeline .events a.selected::after, .cd-horizontal-timeline .filling-line,.title-car-box .title:before ,article.hentry .vizion-carblog .iq-blog-box .iq-blog-image time.entry-date.published.updated ,.iq-insuarance-fancybox.bg-hide:hover, .iq-education-tab .nav-pills .nav-link.active, .iq-education-tab .nav-pills .nav-link:hover,
.vizion-recentblog.tagbottom-blog .iq-blog-box .iq-blog-image .image-tag,
.iq-portfolio-detail:hover .iq-portfolio-content,
.iq-portfolio-detail .iq-portfolio-content .details-box a.iq-icon,
footer.education .social-icone ul li a:hover,
footer.education .footer-up .iq-footer-button:hover, footer.footer2,
footer.manufacturing .info-share li a:hover,
footer.manufacturing input[type=submit]:hover {
    background: #fb5a11 !important;
}

.iq-const-video .iq-vid-btnlink .play-car-video a{
    background:#ffffff !important;
}
*::-moz-selection { background: #fb5a11 ; }
::-moz-selection { background: #fb5a11 ; }
::selection { background: #fb5a11 ; }
.iq-breadcrumb.text-left .breadcrumb{
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    box-shadow: inherit;
}
.iq-video:hover, .iq-video:hover i, footer.footer2 .widget ul.menu li a:hover, footer.footer2 .social-icone ul li a:hover, footer.footer4 .info-share a, .iq-accordion.faq-2 .iq-ad-block a.ad-title
{
    background: #fb5a11 !important;
    color:#fff !important;
}
@media(max-width:992px) {
    body header .navbar ul li.current-menu-item a, body header .navbar ul li a:hover,header .navbar-light .navbar-toggler{
        background: #e3d3cb;

    }

    header .navbar-light .navbar-toggler, .iq-team .iq-team-info, blockquote  {
        border-color: #fb5a11 !important;

    }

}
.breadcrumb-item.active::before, .breadcrumb-item+.breadcrumb-item::before{
    color: #fb5a11;
    -webkit-text-fill-color: #fb5a11;
}
.breadcrumb-item.active {
    background: #fb5a11;
    background: -moz-linear-gradient(left, #fb5a11 0%, #fb5a11 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #fb5a11), color-stop(100%, #fb5a11));
    background: -webkit-linear-gradient(left, #fb5a11 0%, #fb5a11 100%);
    background: -o-linear-gradient(left, #fb5a11 0%, #fb5a11 100%);
    background: -ms-linear-gradient(left, #fb5a11 0%, #fb5a11 100%);
    background: linear-gradient(to right, #fb5a11 0%, #fb5a11 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer.footer2 .info-share a:hover, .iq-video:hover, .page-numbers:hover {
    border: 1px solid #fff;
}
header .sub-header .request-btn a:hover, .button:hover, input[type='submit']:hover, .owl-carousel .owl-next:hover i, .owl-carousel .owl-nav .owl-prev:hover i, .iq-vid-btnlink.text-left .play-car-video .button:hover, #my-ajax-filter-search .job-search:hover,.vizion-recentblog.v1.style-3 .iq-blog-box .iq-date:hover{
    background: #333 !important;
}
.owl-carousel .owl-nav i:hover, .iq-team .share ul li a:hover, footer.footer2 .info-share a:hover, .play-video .iq-video:hover, input[type='submit']:hover, .widget_tag_cloud ul li a:hover, .iq-breadcrumb.text-left .breadcrumb li a, .iq-breadcrumb.text-left .breadcrumb-item + .breadcrumb-item::before{

    color: #fff !important;
}
.future-services:hover {
    box-shadow: 0px 1px 30px 0px rgba(251,90,17,0.1) !important;
}
.iq-education-tab .nav-pills .nav-link.active, .iq-education-tab .nav-pills .show > .nav-link, .iq-education-tab .nav-pills .nav-link:hover{
    box-shadow:8.388px 12.436px 29px 0px rgba(251,90,17,0.38) !important;
}
.page-numbers li .page-numbers:hover {
    background-color: #fb5a11;
}
.commentlist .iq-comments-media {
    border: 1px solid rgba(251,90,17,0.1);
    background: rgba(251,90,17,0.1);
}
.iq-breadcrumb, #slide-1-layer-21  {
    background: rgba(251,90,17,0.1) !important;
}
header .sub-header {
    border-bottom: 1px solid rgba(251,90,17,0.1);
}
.iq-team .iq-team-img::before, .cd-timeline-navigation a, .cd-horizontal-timeline .events a.older-event::after {

    background: rgba(251,90,17,0.1);
    background: -moz-linear-gradient(top, rgba(251,90,17,0.1) 0%, #fb5a11 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,90,17,0.1)), color-stop(100%, #fb5a11));
    background: -webkit-linear-gradient(top, rgba(251,90,17,0.1) 0%, #fb5a11 100%);
    background: -o-linear-gradient(top, rgba(251,90,17,0.1) 0%, #fb5a11 100%);
    background: -ms-linear-gradient(top, rgba(251,90,17,0.1) 0%, #fb5a11 100%);
    background: linear-gradient(to bottom, rgba(251,90,17,0.1) 0%, #fb5a11 100%);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(251,90,17,0.1)', endColorstr='#fb5a11', GradientType=1);
}
.iq-services:hover {
    color: #fff;
    background: rgba(251,90,17,0.1);
    background: -moz-linear-gradient(left, rgba(251,90,17,0.1) 0%, #fb5a11 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(251,90,17,0.1)), color-stop(100%, #fb5a11));
    background: -webkit-linear-gradient(left, rgba(251,90,17,0.1) 0%, #fb5a11 100%);
    background: -o-linear-gradient(left, rgba(251,90,17,0.1) 0%, #fb5a11 100%);
    background: -ms-linear-gradient(left, rgba(251,90,17,0.1) 0%, #fb5a11 100%);
    background: linear-gradient(to right, rgba(251,90,17,0.1) 0%, #fb5a11 100%);
}
.iq-amazing-tab .nav-pills .nav-link{
    background: rgba(251,90,17,0.1);
}
article.hentry .iq-blog-box, .iq-amazing-tab .nav-pills, .widget,.pricing-ecom-box, .vizion-recentblog.v4 .iq-blog-box, .vizion-recentblog.v2 .iq-blog-box, .vizion-recentblog.v3 .iq-blog-box{

    background: linear-gradient(to bottom, rgba(251,90,17,0.1) 0%, rgba(251,90,17,0.1) 100%);
}
footer, #back-to-top .top:hover, .iq-background-overlay, .owl-carousel .owl-nav i, .iq-breadcrumb-two, header .navbar ul li.current-menu-item a::before, .iq-amazing-tab .nav-pills .nav-link.active, .iq-amazing-tab .nav-pills .nav-link:hover,  .pagination li .page-numbers.current, .contact-block .vc_column-inner,input[type='submit']{
    background: linear-gradient(to bottom, rgba(251,90,17,1) 0%, rgba(251,90,17,1) 100%);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;

}

/*---------------------------------------------------------------------
                 Custom styling
-----------------------------------------------------------------------*/
.iq-ptb-100, section { padding: 100px 0; }
.iq-pt-100 { padding-top: 100px; }
.iq-pt-150 { padding-top: 150px; }

.iq-mt-100 { margin-top: 100px; }

.iq-ptb-80 { padding: 80px 0; }
.iq-bg-primary {
    background-color: #fce6cc !important;
}
.iq-bg-darker {
    background-color: #333333 !important;
}
.iq-bg-dark-blue {
    background-color: #081528 !important;
}
.iq-client-slider-bg {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    background-color: #f1f3fe !important;
}



