


/*---------------------------------------------------------------------
1 header
-----------------------------------------------------------------------*/
header { position: absolute;  width: 100%; padding: 30px 0; -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; }
header a.navbar-brand img { height: 40px; }
header .navbar-light { padding: 0; }
header .navbar-light .navbar-nav .nav-link, header .navbar-light .navbar-nav .nav-link:focus { color: #ffffff; font-size: 17px; margin-right: 15px; padding: 5px 30px; border-radius: 90px; }
.navbar-light .navbar-nav .show>.nav-link { color: #ffffff; }
header .navbar-light .navbar-nav li.active .nav-link, header .navbar-light .navbar-nav li .nav-link:hover { background: #ffffff; color: #4a2ace; }
.dropdown-item:active, .dropdown-item:hover { background: #ffffff; color: #4a2ace; }
header { position: absolute; width: 100%; z-index: 99; }
header .container-fluid{padding: 0 100px;}
.white-btn.button { color: #ffffff; background: #437eeb;}
/* Header sticky */
header.menu-sticky { background: #ffffff; padding: 12px 0;  display: inline-block;  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); position: fixed; z-index: 99; }
header.menu-sticky .container-fluid { padding: 0px 115px; }
header.menu-sticky .navbar.navbar-light .navbar-brand img { height: 40px; }
header.menu-sticky .navbar-light .navbar-nav li.active .nav-link, header.menu-sticky .navbar-light .navbar-nav li .nav-link:hover { background: #4a2ace; color: #ffffff; }
header.menu-sticky .navbar-light .navbar-nav .nav-link, header.menu-sticky .navbar-light .navbar-nav .nav-link:focus { color: #000000; }


/* logo change */
/* header a.navbar-brand .logo-white { display: none; } */
header.menu-sticky a.navbar-brand .logo { display: none; }
header.menu-sticky a.navbar-brand .logo-white { opacity: 1; display: block; }
header .navbar-toggler:not(:disabled):not(.disabled) { background: #ffffff; }



.container-fluid { padding: 0 100px; }
/*================================================
Banner
================================================*/
.banner-bg{overflow: hidden;}


/*================================================
Amazing Features
================================================*/
.amazing-features{background:#f1f1f1;}
.amazing-features .media .iq-icon {webkit-transition: transform .35s cubic-bezier(.38,3,.57,1.6);
    -moz-transition: transform .35s cubic-bezier(.38,3,.57,1.6);
    transition: transform .35s cubic-bezier(.38,3,.57,1.6); border-radius: 90px; 
    display: inline-block; height: 90px; width: 90px; line-height: 96px; text-align: center; color: #4a2ace; -webkit-transition: all .5s ease-out 0s; -moz-transition: all .5s ease-out 0s; -ms-transition: all .5s ease-out 0s; -o-transition: all .5s ease-out 0s; transition: all .5s ease-out 0s; background: #fefefe; }
.amazing-features .media .iq-icon:hover{    -webkit-transform: translate3d(0,-6px,0);
    -moz-transform: translate3d(0,-6px,0);
    transform: translate3d(0,-6px,0);}
.amazing-features .media .iq-icon i{font-size: 36px;}
.choose-your-demos{padding: 100px 100px;}

.dark-bg{background: #0077ff;}
.banner-type img{    position: absolute;
    top: 86px;
    right: 115px;}

/*================================================
Fully Responsive
================================================*/
.wave{position: relative; overflow: hidden;}
/* .wave:after { content: ""; bottom: 0px; left: 0; width: 100%; height: 241px; background: url(../images/design/wave.png) no-repeat 0 0; background-size: cover; display: inline-block; position: absolute;  overflow: hidden;} */
/* .pb-shap{padding-bottom: 200px;} */

/*================================================
Five Reasons
================================================*/
.reasons-round { border-radius: 90px; display: inline-block; height: 130px; width: 130px; line-height: 130px; text-align: center; background-color: #f1f1f1; }

.media.mb-5 { margin-bottom: 5rem !important; }
.profyl-img { display: inline-block; width: 100%; -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); }



/*================================================
footer
================================================*/
footer{padding:100px 0; position: relative; overflow: hidden;}
footer.footer-main{padding: 100px 0; background: url(../images/design/01.jpg) no-repeat 0 0; }
footer.iq-over-black-90{position: relative;}
footer.iq-over-black-90:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; background: rgba(0, 0, 0, .9); }
footer.footer-main ul li i{font-size: 40px;}
footer.footer-main ul li {margin-right:20px;}
footer .footer-btn{padding:10px 18px; background-color: #4a2ace ;color: #ffffff; display: inline-block; border-radius: 4px;}
footer .footer-btn:hover, .footer-btn:focus {background: #ffffff; color: #222222}
footer.iq-bg-fixed { background-color: transparent; background-origin: initial; background-position: center center; background-repeat: no-repeat; background-size: cover !important; position: relative; z-index: 0; background-attachment: fixed !important; }
footer::before { border-radius: 50%; background-image: -webkit-linear-gradient(  90deg , rgb(255,255,255) 0%, rgb(241,243,254) 100%);position: absolute; bottom: -50%; right: -15%;  content: ""; width: 593px;  height: 520px; -webkit-animation: jump 2s infinite alternate;}
/*  */
.homepage-block { margin-bottom: 30px; position: relative;  z-index: 2;}
.home-block {  border: 5px solid #ffffff;  position: relative; top: 0; margin-bottom: 30px; border-radius: 5px; letter-spacing: 1px; overflow: hidden; border-radius: 5px; -webkit-transition: all 0.3s ease-out 0s;}
.home-block .home-title {  position: absolute; bottom: -80px; left: 0; display: inline-block; width: 100%; background: #0077ff; color: #fff; padding: 15px 0; transition: all 0.5s ease-out 0s;
}
@keyframes jump {
    from { transform: translateY(0px); }
    to { transform: translateY(-25px); }
  }
  @-webkit-keyframes jump {
    from { transform: translateY(0px); }
    to { transform: translateY(-25px); }
  }
.home-block a { color: #ffffff; width: 100%; display: inline-block;}


.home-block:hover .home-title {  bottom: 0;}
.home-block:hover { top: -15px;}
/*  */
.iq-retina {  position: relative;  overflow: hidden;}
.title-box.text-left {  margin-bottom: 30px;}

/* banner */
.element12 {  top: 248px !important;}
.element13 {  left: auto !important; right: 0; top: -46px;}
.mac-pc {  position: absolute; left: 40%; pointer-events: none;  position: absolute; top: 0; transform: translateX(-50%); width: 455px;  z-index: 98;}
.owl-carousel .owl-item .blog-images img {  max-width: 120%;  width: 340px; height: 237px;  border-radius: 15px; object-fit: contain;}
.owl-carousel .owl-item img { display: block;}
.screenshots.owl-carousel {  width: 120%; margin-left: 15px;  padding-left: 77px;}
/* .revolution-img{display: none;}  */
header a.navbar-brand .logo-white{display: none;}

/*---------------------------------------------------------------------
Loader
-----------------------------------------------------------------------*/

#loading-center { position: relative; }
@keyframes rotate {
	from { transform: rotate(0deg) }
	to { transform: rotate(360deg) }
}
.spinner { animation: rotate 1s linear infinite; background: #4840bb; border-radius: 50%; height: 160px; width: 160px; position: relative; }
.spinner:before, .spinner:after { content: ''; position: absolute }
.spinner:before { border-radius: 50%; background: linear-gradient(0deg, hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 100%, 0.9) 100%) 0% 0%, linear-gradient(90deg, hsla(0, 0%, 100%, 0.9) 0%, hsla(0, 0%, 100%, 0.6) 100%) 100% 0%, linear-gradient(180deg, hsla(0, 0%, 100%, 0.6) 0%, hsla(0, 0%, 100%, 0.3) 100%) 100% 100%, linear-gradient(360deg, hsla(0, 0%, 100%, 0.3) 0%, hsla(0, 0%, 100%, 0) 100%) 0% 100%; background-repeat: no-repeat; background-size: 50% 50%; top: -1px; bottom: -1px; left: -1px; right: -1px }
.spinner:after { background: #ffffff; border-radius: 50%; top: 1%; bottom: 1%; left: 2%; right: 1% }
.loading-img { position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; width: 50%; margin-top: 32px; }

/*---------------------------------------------------------------------
                                Loader
-----------------------------------------------------------------------*/


#loading { background: #fff; height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 999; display: flex; justify-content: center; align-items: center; margin: 0 auto; }
#loading img { width: 90px; }
#loading-center { width: 100%; height: 100%; position: relative; }
.loader {     width: 160px;
    height: 160px; margin: auto; left: 0; right: 0; top: 0; bottom: 0; position: absolute; }

